@font-face {
    font-family: "intro-demo-black-caps";
    src: url("./IntroDemo-BlackCaps/IntroDemo-BlackCaps.otf");
}
@font-face {
    font-family: "Avenir Next-regular";
    src: url("./avenir-next/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "Avenir Next Condensed-regular";
    src: url("./Carrois-Gothic-Regular/carroisgothic/CarroisGothic-Regular.ttf");
}
@font-face {
    font-family: "Avenir-book";
    src: url("./avenir_ff/AvenirLTStd-Book.otf");
}

@font-face {
    font-family: "avenir-roman";
    src: url('./avenir_ff/AvenirLTStd-Roman.otf');
}


@font-face {
    font-family: "Poppins-bold";
    src: url('./poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: "avenir-black";
    src: url('./avenir_ff/AvenirLTStd-Black.otf');
}

@font-face {
    font-family: 'intro-bold-regular';
    src: url('./intro-bold-regular_soPNA/Intro Bold Regular.ttf');
}
/* header */
.header-container{
    position: relative;
}
.sub-header-container{
    position: absolute;
    bottom: 5%;
    right: 18%;
}
.sub-header-container a+a{
    margin-left: 20px;
}
.header-container::before{
    position: absolute;
    content: "";
    right: 0%;
    bottom: 6.5%;
    width: 15%;
    height: 2px;
    background-color: #000000;
}
.extend-nav{
    background-color: rgb(54, 80, 38,0.5);
    color: white;
}
.anchor-link{
    color: white !important;
    font-size: 18px;
    font-family: "intro-demo-black-caps";
}
.logo-image-1{
    position: absolute;
    top: 510%;
    left: 0%;
    opacity: 0.5;
}
.logo-image-2{
    position: absolute;
    top: -150%;
    left: 17%;
}
.image-back{
    position: relative;
    width: 20%;
}
.banner-head{
    font-family: "intro-demo-black-caps";
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div .additional-anchor-link+.additional-anchor-link{
    margin-left: 20px;
}
.main-ul .sub-li+.sub-li{
    margin-left: 10px ;
}
.select-container{
    background-color: transparent;
    border: transparent;
    color: white;
}
.options-container{
    background-color:black
}
.anchor-shop{
    background-color: #097115;
    font-size: 18px;
    color: white !important;
    border-radius: 5px;
    font-family: "intro-demo-black-caps";
}
/* input:checked{
    background-color: green;
} */

/* 2nd section */
.second-section-head{
    font-size: 29px;
    max-width: 250px;
    font-family: "Avenir Next-regular";
}
.second-section-2{
    background-image: linear-gradient(#FFFFFF,#C3E8E8,#85D1D1);
}
.second-section-para-2{
    color: #000000;
    font-size: 20px;
    max-width: 450px;
    font-family: "Avenir Next-regular";
}
.second-section-head-2{
    font-size: 30px;
    color: #000000;
    margin: 0px;
    font-family: "Avenir Next Condensed-regular";
}
.second-section-para-1{
    font-size: 18px;
    color: #000000;
    margin: 0px;
    font-family: "Avenir Next Condensed-regular";
}
.anchor-btn{
    background-color: #953F19;
    color: #FFFFFF;
    font-size: 17px;
    padding: 2px 5px;
    border-radius: 8px;
}
.anchor-btn:hover{
    color: white;
    text-decoration: none;
}

/* 3rd section */
.section-container-3{
    background-image: url('./background-images/Group\ 111.png');
    
}
.section-container-3-head{
    font-size: 50px;
    font-family: "intro-demo-black-caps";
}
.section-container-3-para{
    font-size: 20px;
    position: relative;
    font-family: "avenir-roman";
}
.section-container-3-para::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0%;
    width: 33%;
    height: 1px;
    background-color: #707070;
}
.section-container-3-para::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 0%;
    width: 33%;
    height: 1px;
    background-color: #707070;
}
.section-container-image{
    position: relative;
    width: calc(100%/6);
}
/* .sub-card-images{
    width: 240px;
    height: 400px;
} */
.image-head-1{
    position: absolute;
    top: 9%;
    left: 15%;
    max-width: 50px;
    font-size: 17px;
    color: #006033;
    font-family: "intro-demo-black-caps";
}
.sub-image-head-2{
    color: #074A81;
}
.know-more-anchor{
    color: #414141;
    font-size: 10px;
    background-color: transparent;
    border-radius: 20px;
    border: #969696 1px solid;
    font-family: "intro-demo-black-caps";
    padding: 5px 20px 5px 10px;
}

/* 4th section */
.section-container-4{
    background-image: url('./background-images/Group\ 3582.png');
    height: 100vh;
}
.image-section-4{
    position: relative;
}
.sub-image-section-4{
    position: absolute;
    left: -10%;
    top: 0;
}
.section-container-4-para{
    font-size: 20px;
    position: relative;
}
.section-container-4-para::before{
    position: absolute;
    content: '';
    top: 50%;
    left: -5%;
    width: 38%;
    height: 1px;
    background-color: #707070;
}
.section-container-4-para::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 0%;
    width: 33%;
    height: 1px;
    background-color: #707070;
}


/* 5th section */
.pain-patch-container{
    position: relative;
}
.pain-patch-image{
    width: 300;
    height: 400px;
}
.pain-patch-details{
    position: absolute;
    top: 10%;
    left: 22%;
}
.pain-patch-head{
    font-size: 30px;
    font-family: "intro-demo-black-caps";
    color: #244B0C;
}
.pain-relief-span{
    font-size: 18px;
    background-color: #393939;
    color: white;
    padding: 2px 5px 2px 15px;
    border-radius: 20px;
    font-family: "avenir-black";
}
.pain-patch-button{
    position: absolute;
    left: 8%;
    top: 85%;
}
.shop-now-ele{
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 2px 20px;
    font-family: "Poppins-bold";
}
.pain-relief-para{
    font-size: 14px;
    font-family: "avenir-roman";
}
.additional-pain-patch,.additional-shop-now{
    left: 35%;
}
.additional-shop-now{
    bottom: 8%;
}

/* 6th section */
.additional-center::after{
    right: -1%;
}
.pains-ul-container{
    list-style-type: none;
    padding: 0px;
}
.pains-container{
    position: relative;
    margin: 15px;
}
.pains-container{
    position: relative;
}
.images-pain{
    width: 300px;
    border-radius: 10px;
}
/* .sub-pains-container{
    position: relative;
    width: 100%;
} */
.sub-pains-container::after{
    position: absolute;
    content: "";
    left:0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(rgb(0, 0, 0,0),rgb(84, 84, 84,0.62));
    border-radius: 10px;
}
.pain-header{
    font-size: 30px;
    color: #FFFFFF;
    font-family: "intro-demo-black-caps";
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 1;
}

/* footer */

.main-footer-section{
    background-color: #EAEFF2;
}
div .footer-links+.footer-links{
    margin-top: 15px;
}
.footer-heads{
    font-size: 20px;
    color: #000000;
    font-family: "intro-demo-black-caps";
    position: relative;
}
.footer-heads::before{
    position: absolute;
    content: "";
    bottom: -60%;
    left: 0%;
    width: 20%;
    height: 1px;
    background-color: #000000;
}
.additional-footer-header::before{
    width: 10%;
}
.additional--footer-header::before{
    width: 9%;
}
.footer-links, .footer-subscribe, .address-bar{
    color: #000000;
    font-size: 17px;
    font-family: "Avenir-book";
}
.address-bar{
    max-width: 182px;
}
.search-bar{
    background-color: transparent;
    border: rgb(0, 0, 0,0.15) 1px solid;
}
.subscribe-button{
    color: white;
    background-image: linear-gradient(to right,#589831,#9DA329,#D5AC23);
    padding: 5px 35px;
    border-radius: 7px;
}
::placeholder{
    color: #000000;
}
.footer-links:hover{
    color: red;
    text-decoration: none;
}
.copyrights-para{
    font-family: "Avenir-book";
    font-family: 18px;
}

div .footer-sub-links+.footer-sub-links{
    margin-top: 20px;
}
.icons-container a+a{
    margin-left: 20px;
}
.search-icon::after{
    content:'\e903';
    font-family: 'icomoon';
    color: white;
    padding-left: 20px;
}
.cart-icon::after{
    content:'\e908';
    font-family: 'icomoon';
    color: white;
    padding-left: 20px;
}
.like-icon::after{
    content:'\e909';
    font-family: 'icomoon';
    padding-left: 20px;
}
.banner-linkedin-icon::after,.banner-twitter-icon::after,.banner-facebook-icon::after{
    content: "\e90a";
    color: #000000;
    font-family: 'icomoon';
    font-size: 20px;
}
.banner-twitter-icon::after{
    content: "\e90b";
}
.banner-facebook-icon::after{
    content: "\e90c";
}

a:hover{
    text-decoration: none;
}

/* footer icons */

.location-icon::after, .call-icon::after, .mobile-icon::after, .fax-icon::after,
.mail-icon::after, .user-icon::after{
    content: "\e90d";
    font-family: 'icomoon';
    color: #009c50;
    font-size: 15px;
}
.call-icon::after{
    content: "\e90e";
}
.mobile-icon::after{
    content: "\e90f";
}
.fax-icon::after{
    content: "\e911";
}
.mail-icon::after{
    content: "\e912";
}
.user-icon::after{
    content: "\e913";
}
.facebook-icon::after, .youtube-icon::after, .twitter-icon::after{
    content: "\e907";
    color: #fff;
    font-family: 'icomoon';
    font-size: 40px;
    border-radius: 100%;
    background-color: #C4C4C4;
}
.youtube-icon::after{
    content: "\e905";
}
.twitter-icon::after{
    content: "\e910";
}

.carts-container {
    height: 250px;
    overflow-x: hidden;
    position: relative;
}

.cart-image{
    width: 15%;
    height: 100px;
}
.polygon-image{
    position: absolute;
    top:0%;
    left: 0;
}

@media screen and (max-width:1024px) {
    .anchor-link{
        font-size: 12px;
    }
    .anchor-shop{
        font-size: 13px;
    }
    .main-ul .sub-li+.sub-li{
        margin-left: 0px;
    }
    .logo-image-1{
        top: 470%;
        width: 150px;
    }
    .logo-image-2{
        left: 11%;
        top: -30%;
        width: 110px;
    }
    .section-container-3-para::before,.section-container-3-para::after,
    .section-container-4-para::after{
        width: 25%;
    }
    .section-container-4-para::before{
        width: 30%;
    }
    .pain-patch-head{
        font-size: 20px;
    }
    .pain-relief-span{
        font-size: 17px;
    }
    .pain-relief-para{
        font-size: 12px;
    }
    
}

@media screen and (max-width:992px){
    .logo-image-1{
        top: 340%;
        left: 0%;
        width: 150px;
    }
    .logo-image-2{
        width: 100px;
        top: -100%;
        left: 18%;
    }
    .main-ul .sub-li_.sub-li{
        margin-left: 0px;
    }
    .anchor-link{
        font-size: 8px;
    }
    .main-ul .sub-li+.sub-li{
        margin-left: 0px;
    }
    .extend-nav{
        padding: 14px !important;
    }
    .anchor-shop{
        font-size: 9px;
    }
    .section-container-3-para::after,.section-container-3-para::before,
    .section-container-4-para::after{
        width: 20%;
    }
    .section-container-4-para::before{
        width: 25%;
    }
    .slider-para::after{
        width: 50% !important;
    }
    .pain-patch-head{
        font-size: 18px;
    }
    .pain-relief-span{
        font-size: 12px;
    }
    .pain-patch-details{
        left: 17%;
    }
    .pain-patch-button{
        left: 7%;
    }
    .additional-pain-patch,.additional-shop-now{
        left: 35%;
    }
    .additional-pain-patch-details{
        left: 25%;
    }
    .image-head-1{
        font-size: 12px;
    }
    .shop-now-ele{
        font-size: 12px;
        padding: 2px 10px;
    }
    .pain-relief-para{
        font-size: 9px;
    }
}
@media screen and  (max-width:765px) {
    .logo-image-1{
        top: 485%;
        left: -14%;
    }
    .logo-image-2{
        top: -152%;
        left: 17%;
    }
    .section-container-3-para::before{
        left: -13%;
    }
    .section-container-4-para::before{
        width: 25%;
    }
    .pain-patch-head{
        font-size: 15px;
    }
    .pain-relief-span{
        font-size: 13px;
    }
    .shop-now-ele{
        font-size: 10px;
        padding: 4px 15px;
    }
    .pain-relief-para{
        font-size: 9px;
    }
    .pain-patch-details{
        left: 17%;
    }
    .additional-pain-patch-details{
        left: 23%;
    }
}

@media screen and (max-width:425px) {
    .extend-nav{
        padding: 10px !important;
    }
    .main-ul .sub-li+.sub-li{
        margin-left: 15px;
    }
    .anchor-link{
        font-size: 15px;
        text-align: center;
    }
    .background-small-image{
        height: 50vh;
    }
    .image-back{
        width: 50px;
    }
    .logo-image-1{
        top: 350%;
        width: 120px;
    }
    .logo-image-2{
        position: absolute;
        top: 0%;
        left: 25%;
        width: 80px;
    }
    .banner-linkedin-icon::after,.banner-twitter-icon::after,.banner-facebook-icon::after{
        font-size: 10px;
    }
    .add-sub-li{
        margin-left: 15px;
        margin-top: 35px;
    }
    .banner-head{
        font-size: 20px;
    }
    .second-section-head{
        font-size: 20px;
        max-width: 200px;
    }
    .section-container-3-head{
        font-size: 28px;
        text-align: center;
        margin-left: 0px !important;
        font-family: "intro-demo-black-caps";
    }
    .section-container-3-para{
        font-size: 15px;
    }
    .section-container-3-para::before, .section-container-3-para::after{
        display: none;
    }
    .section-container-image{
        margin: 0px 0px 15px 0px !important;
    }
    .image-head-1{
        left: 18%;
    }
    .ul-slider{
        padding: 0px;
    }
    .section-container-4-para{
        font-size: 15px;
    }
    .section-container-4-para::before, .section-container-4-para::after{
        display: none;
    }
    .pain-patch-head{
        font-size: 20px;
    }
    .pain-relief-span{
        font-size: 15px;
    }
    .shop-now-ele{
        font-size: 15px;
    }
    .pain-relief-para{
        font-size: 11px;
    }
    .additional-pain-patch-details,.pain-patch-details{
        left: 30%;
    }
    .pain-patch-button{
        left: 20%;
    }
    .additional-shop-now{
        bottom: 5%;
    }
    .additional-pain-patch,.additional-shop-now{
        left: 35%;
    }
    .footer-heads{
        font-size: 17px;
        margin-top: 15px;
    }
    .footer-links,.address-bar,.footer-subscribe,.search-bar{
        font-size: 13px;
    }
    .additional--footer-header::before,.additional-footer-header::before{
        bottom: -40%;
        width: 20%;
    }
    .facebook-icon::after, .youtube-icon::after, .twitter-icon::after{
        font-size: 35px;
    }
    .section-container-image{
        width: 100%;
    }
    .slider-para::after{
        display: none;
    }
    .slider-para{
        margin: 0px !important;
        text-align: center;
    }
    .cart-head{
        font-size: 11px;
    }
}

@media screen and (max-width:320px) {
    .pain-patch-details{
        left: 20%;
    }
    .pain-patch-button{
        left: 10%;
    }
    .additional-pain-patch,.additional-shop-now{
        left: 30%;
    }
    .additional-pain-patch-details{
        left: 25%;
    }
    .image-head-1{
        font-size: 20px;
    }
}
/*  */
.slider {
    display: flex;
    list-style-type: none;
}
.slider-li-container{
    position: relative;
}
.slider-position-container{
    position: absolute;
    top: 7%;
    left: 12%;
}
.slider-head{
    font-size: 20px;
    max-width: 200px;
    font-family: "intro-demo-black-caps";
}
.additional-slider-header{
    max-width: 130px;
}
.slider-anchor{
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 20px;
    font-family: "Poppins-bold";
    color: #000000;
}
.slider-para{
    font-size: 18px;
    position: relative;
}
.slider-para::after{
    position: absolute;
    content: "";
    top: 50%;
    right: 0%;
    height: 1px;
    width: 70%;
    background-color: #000000;
}
.slider-images {
    width: 90%;
    margin: 10px;
}

.bg-container {
    background-image: url("background-images/Group\ 3582.png");
    position: relative;
}

.bg-container::before {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.leaf-container {
    position: relative;
}

.leaf-1 {
    position: absolute;
    content: "";
    left: -25px;
    top: -151px;
    width: 50%;
    height: 300px;
}


/* shop now */


